{% extends 'layout.html' %}

{% block main_content %}
    
    <section class="habit-list">
        {% for i in habit %}      
            <div class="habit_completed">
                <p class="habit__description">
                    {% if i.date_created>=selected_date %}
                        {{ "" }}
                    {% else %}
                        {{ i.description }}
                    {% endif %}
                </p>
            </div>     
        {% endfor %}
    </section>
    
{% endblock %}
