{% extends 'layout.html' %}

{% block main_content %}
    
    <div class="habit-list">
        {% for i in habit %}      
            <div class="habit_completed pointer">
                <p class="habit__description">
                    {% if i.date_created>=selected_date %}
                        {{ "" }}
                    {% else %}
                        {{ i.description }}
                    {% endif %}
                </p>
            </div>     
        {% endfor %}
    </div>
    
{% endblock %}
