<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="stylesheet" type="text/css" href="static/css/default.css">

    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>{{ title }}</title>
</head>
<body>
    <header class="header">
        <div class="container page-main d-flex align-center justify-between ">
            <div class="logo">
                <a href="{{ url_for('index') }}">
                    <img src="static/images/logo.svg" alt="Logo Better You">
                </a>
            </div>
            <div class="nav-items ">
                <nav class="d-flex justify-between bold">
                    <a class="pe-6" href="">
                        <p class="p-relative">Sobre</p>
                    </a>
                    <a class="pe-6" href="">
                        <p class="p-relative">Como usar</p>
                    </a>
                    <a href="">
                        <p class="p-relative">Modelos (em breve)</p>
                    </a>
                </nav>
            </div>
            <div class="account">
                <a href="">
                    <img src="static/images/conta.svg" alt="">
                </a>
            </div>
        </div>
    </header>
    
    <main class="main">
        <div class="page-main margin">
            <div class="new-habit">
                <!-- Verifica se não existe /add na url, caso TRUE renderiza um link -->
                {% if "add" not in request.endpoint %}
                    <a href="{{ url_for('add_habit') }}" class="add_link">+ Adicionar novo Hábito </a>
                {% endif %}
            </div>

            <!-- ALTEREI O LUGAR DESSA SECTION SÓ PQ EU PROGRAMO EM MEIA TELA E FACILITA KKKK PODE ESTILIZAR O APP INTEIRO COMO DESEJAR BAGUNCEI OS ESTILOS FOI MAL-->

            <section class="dates">
                <!-- Faz loop sobre o return da função e cria uma lista série de links (dias) em torno da selected_date  -->
                {% for date in date_range(selected_date) %}
                    <!-- importante: ***alterar o valor DA CLASSE CONDICIONAL quando mudar o tamanho da lista na função*** -->
                    <!-- default: 5  -->
                    <a class="dates__link {{ 'dates__link--current' if loop.index0 == 5 else '' }}" href="{{ url_for('index', date=date)}}">
                        <time class="date" datetime="{{ date }}">
                            <span>{{ date.strftime("%a") }}</span>
                            <span>{{ date.strftime("%d") }}</span>
                        </time>
                    </a>
                {% endfor %}
            </section>     


            <div class="d-flex margin justify-between">
                <section class="w-50 border-custom">
                    <div>
                        {% block main_content %}
                        {% endblock %}
                    </div>
                </section>                          
            </div>
        </div>
    </main>

</body>
</html>